.news-page {
    
    margin-top: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    color: var(--body_color);
  }
  
  .full-news-content {
    text-align: center;
    margin-bottom: 10px;
  }

  .full-news-content h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary_color);
    padding-bottom: 3px;
   
  }

  .full-news-content p {
    font-size: 1rem;
    font-weight: lighter;
    color: var(--body_color);
  }

  button.del-btn{
    padding: 5px 45px;
    margin-bottom: 10px;
    border: none;
    border-radius: 15px;
    background: red;
    color: var(--body_color);
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s ease;
  }

  .full-news-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 15px;

  }
  
  
  .news-image {  
    display: flex;
    flex-direction: column;
    grid-template-columns: 100%;
    gap: 15px;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .main-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 800px;
  }
  
  img.news-item-img-big {
    width: 100%;
    height: auto;
    object-fit: cover;
    /* max-width: 800px; */
    border-radius: 10px;
  }
  
  .image-thumbnails {
    flex: 1;
    display: flex;
    gap: 10px;
    overflow-y: auto;
    overflow-x: auto;
    max-width: 800px;
    min-width: 200px;
    max-height: 500px;
    border-radius: 10px
  }
  
  img.news-item-img {
    width: 200px;
    height: 130px;
    cursor: pointer;
  }
  
  .news-body-container {
    width: 100%;
    padding-right: 15px;
  }
  
  .news-body {
    text-align: justify; 
    color: var(--body_color);
  }


  @media screen and (min-width: 768px){
    .news-page {
      padding: 10px 80px;
      margin-top: 75px;
    }
    .full-news-wrapper {
      grid-template-columns: 60% 40%;
      gap: 20px;
    }

    /* .news-image {
      flex-direction: row;
    } */

  

    /* img.news-item-img-big{
      max-width: 800px;
      min-width: 400px;
      min-height: 530px;
     
    } */
    
    .news-body {
      padding-right: 20px;
    }

  }
  
  @media screen and (min-width: 1024px){

    .full-news-wrapper {
      flex-direction: row;
    }

    img.news-item-img-big{
      max-width: 1500px;
      min-width: 200px;
    }

    /* .image-thumbnails {
      max-width: 800px;
      min-width: 200px;
      max-height: 550px;
    } */

    .news-body-container {
      width: 60%;
    }

  }