

.news-page-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.news-page-header .line {
    flex: 1;
   width: 50%;
   height: 4px;
  background: var(--primary_color);

}


.news-page-header h1 {
    flex: 1;
    color: var(--body_color);
    font-size: 2.1rem;
    width: 100%;
}

.slider-container {
    position: relative;
    width: 80%;
    overflow: hidden;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ensure buttons are at the edges */
}

.news-item {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.news-content {
    min-width: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 10px;
}

/* .news-img {
    max-height: 250px;
    overflow: hidden;
    display: flex;
    position: relative;
} */

.news-img img {
    width: 500px;
    height: 250px;
    object-fit: cover;
}

.news-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

.news-text p {
    color: var(--body_color);
}

.news-text a {
    text-decoration: none;
    color: var(--primary_color);
}

.chevron-btns {
    position: absolute;
    background-color: var(--primary_color);
    top: 50%;
    right: 0;
    min-width: 25%;
    padding: 5px;
    display: flex;
    border-radius: 10px;
    float: right;
    justify-content: space-between;
    transform: translate(-40%, -80%);
    z-index: 1;
}

.prev-btn, .next-btn {
    background: none;
    color: var(--body_color);
    border: none;
    cursor: pointer;
    padding: 5px;
}

.prev-btn svg, .next-btn svg {
    width: 40px;
    height: 30px;
}

.read-more-holder {
    position: relative;
}

button.news-readmore {
    display: flex;
    align-items: center;
    font-style: italic;
    font-size: 20px;
    border: none;
    color: var(--body_color);
    background: none;
    gap: 5px;
}

.read-more-arrow {
    font-size: 30px;
}

@media screen and (min-width: 768px) {
    .news-content {
        grid-template-columns: 50% 50%;
    }

    .news-text {
        justify-content: normal;
    }

    .news-page-header h1 {
        font-size: 2.5rem;
      }

      .news-text p {
        padding-right: 15px;
      }

    .chevron-btns {
        /* top: 87%; 
        right: 50%; */
        transform: translate(-200%, 150%);
    }
}


@media screen and (min-width: 1024px) {

    .news-text {
        justify-content: normal;
    }

    .news-page-header h1 {
        font-size: 3rem;
      }

    .chevron-btns {
        /* top: 90%;
        right: 52%; */
        transform: translate(-120%, 150%);
    }
    
}
