
nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    height: 100vh;
    width: 50%;
    top: -100%;
    left: 0;
    background-color: var(--primary_color);
    transition: 0.5s;
    color: var(--body_color);
    cursor: pointer;
    font-weight: 500;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    align-items: center;
    z-index: 5;
}

.navbar-wrapper {
    display: flex;
    gap: 5px;
}


nav.nav-active{
    top: 0;
    transition: 0.5s;
}

.login-dark-mode {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    padding-left: 10px;
}

.hamburger {
    display: flex;
    font-size: 50px;
    cursor: pointer;
    color: var(--body_color);
    padding: 10px;
    position: absolute;
    top: 3px;
    right:0px;
    z-index: 100;
  }

  .close-button {
    font-size: 2.8rem;
  }

  .close-holder {
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    gap: calc(100vw - 65px);
    margin-top: -5px;
  }

.navbar-logo img {
    width: 50px;
    position: relative;
    height: 40px;
    z-index: 100;
    border-radius: 50%;
    padding-left: 5px;
    /* margin-bottom: 10px; */
    margin-top: 8px;
}


.hidden-logo {
    display: none;
}

.navbar-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    font-size: 18px;
    gap: 50px;
}

  
   /* Dropdown */
.dropdown-container {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-toggle {
    background: none;
    border: none;
    color: var(--body_color);
    font-size: 18px;
    cursor: pointer;
    font-weight: 600;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--primary_color);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    min-width: 150px;
    padding: 10px;
    border-radius: 5px;
    z-index: 10;
  }
  
  .dropdown-menu a {
    text-decoration: none;
    color: var(--body_color);
    padding: 8px;
    display: block;
    transition: background 0.3s;
  }
  
  .dropdown-menu a:hover {
    background: var(--body_background);
    border-radius: 5px;
  }


.navbar-links hr {
    width: 40px;
    margin: auto;
    height:3px;
    background-color: var(--body_color);
    border: none;
    border-radius: 10px;
    color: var(--body_color);
}

.navbar-links li a {
    color: var(--body_color);
    text-decoration: none;
}

.navbar-links li a:hover {
    color: var(--body_color);
    background-color: var(--body_background);
    border-radius: 10px;
    padding: 5px 10px;
}


.login-btn button {
    background-color: transparent;
    border: none;
    font-weight: 600;
    border-radius: 15px;
    padding: 5px 15px;
    font-size: 20px;
    cursor: pointer;
    color: var(--body_color);
    margin-top: 20px;
}

.humberger-wrapper{
    display: flex;
    justify-content: space-between;
    background-color: var(--primary_color);
    opacity: 0.9;
    padding: 10px;
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 100;
    top: -5px;
    left: -3px;
}

.fa-bars {
    margin-left: 5px;
}

.login-toggle-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}


.mobile-login {
    color: var(--body_color);
    font-size: 20px;
    cursor: pointer;
    border: none;
    background: inherit;
}
@media screen and (min-width: 768px) {


    nav {
        height: 80px;
        width: calc(100% - 100px); /* Account for margins */
        top: 0;
        left: 50px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px; /* Adjust padding */
    }

    .close-holder {
        display: none;
    }
    .login-dark-mode {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        margin: -10px 0 0 0;
    }

    .lang-btn {
        border-radius: 10px;
        padding: 0 8px;
        background-color: rgb(14, 192, 241);
        color: var(--body_color);
        filter: drop-shadow(0 0 0.25rem rgb(30, 128, 239));
    }

   
      nav ul li .dropdown li {
        padding: 8px 16px;
      }
      
      nav ul li:hover .dropdown {
        display: block; 
      }

    .hamburger {
        display: none;
    }

    .hidden-logo {
        display: inline-block;
        margin-bottom: 18px;
    }

    .navbar-links, .services {
        flex-direction: row;
        font-size: 15px;
        font-weight: 700;
        gap: 25px;
        z-index: 8;
    }

    .login-btn button {
        margin-top: 0;
    }

    .humberger-wrapper {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .navbar-links, .services {
        font-size: 18px;
    }
    nav ul li .dropdown {
        display: none; 
        position: absolute;
        top: 50%; 
        left: 20%;
        background-color: inherit;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 800;
      }
}
 

