.hero-wrapper {
    /* padding: 10px 50px; */
    /* margin-top: 40px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    }
    
    
    
    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%; 
    }
    
    .image-wrapper {
        flex: 1 1 auto;
        position: relative;
        width: 100%;
        height: 50%;
    } 
    
    .image-wrapper img {
        width: 100%;
        height: 300px;
        max-height: 500px;
        object-fit: cover;
        margin-top: 20px;
        border-radius: 0 0 20px 20px;
    }
    
     .image-wrapper::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-color: #00000020;
        width: 100%;
        height: fit-content;
        border-radius: 0 0 20px 20px;
    }
    
    
    .image-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        background-color: var(--body_background_2);
        color: var(--body_color);
        padding: 20px;
        border-radius: 20px;
        z-index: 1;
      }
      
    
    .image-overlay P {
        color: #e7e6e6;
        text-align:center;
        font-style: italic;
        max-width: 70%;
        font-size: 18px;
        font-weight: 600;
        margin-top: 50px;
        margin-bottom: 5px;
        font-family: 'lobster', sans-serif;
        z-index: 1;
    }
    
    .image-overlay button {
        background-color: var(--body_background);
        color: var(--body_color);
        border: none;
        padding: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
        font-size: 15px;
        font-weight: 600;
        z-index: 1;
        cursor: pointer;
        flex-wrap: wrap;
    }
    
    button.learn-more{
        flex: 1;
        background-color: rgb(8, 6, 6);
        color: #fff9f9;
        padding: 20px;
    }
    
    .social-icons {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 5px;
    }
    
    .social-icons a {
        color: var(--primary_color);
        margin: 0 8px;
        font-size: 20px;
    }
    
    
    .hero-content {
        display: none;
    }
    
    
    
    @media screen and (min-width: 768px) {
    
        .hero {
           
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            background: linear-gradient(90deg, var(--body_background) 100%, var(--body_color) 100%);
            border-bottom: 1px solid #fff;
            border-bottom-left-radius: 40px;
            box-shadow: 0 0 10px var(--primary_color);
        }
        
        .hero-content {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 15px;
            margin: auto;
            color: var(--body_color);
        }
    
        .hero-content p {
            font-size: 20px;
            text-align: center;
            font-weight: 500;
            margin-bottom: 10px;
            padding: 10px 0; 
        }
    
        .hero-content button {
            background: transparent;
            color: var(--body_color);
            border: none;
            margin-top: 20px;
            font-size: 20px;
            font-weight: 600;
            cursor: pointer;
        }
    
        
    
        .image-wrapper {
            background:linear-gradient(135deg, #87cefa, #ffffff, #1e90ff); 
            border-radius:0 0 20px 20px;
            width: 100%;
            box-shadow: 0px 2px 1px var(--body_color);
        }
    
        .image-wrapper img {
            width: 100%;
            height: 500px;
            max-height: 600px;
            object-fit: cover;
        }
    
        .image-overlay p {
            font-size: 30px;
            /* width: 60%; */
            text-align: center;
        }
    
        .social-icons {
            flex-direction: row;
        }
        .image-overlay button {
            padding: 30px 20px;
       }
    }
    
    @media screen and (min-width: 1024px) {
    
       .image-wrapper {
        width: 100%;
        max-height: 100%;
       }
    
    }
    